@(plano: Planejador) @import helper._

@main("Planejamento de curso") {

<head>
<meta charset="UTF-8">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
  $(function() {
    $( ".disciplina" ).draggable();
    $( ".disciplinaNaoAlocada" ).draggable();
    $( ".coluna" ).droppable({
      drop: function( event, ui ) {
    	var disciplina = ui.draggable[0].id;
      	var periodo = event.target.id.replace('periodo_', '');
      	
        location.href = '/alocaDisciplina/' + periodo + '/' + disciplina
      }
    });
  });
  
  function deletaComClick(disciplinaNome){
	  
	  location.href = '/deletaDisciplina/' + disciplinaNome;
  }
  

  function setPeriodoAtual(periodo){
	  
	  location.href = '/mudaPeriodo/' + periodo;
  }
  
  
</script>

</head>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
	role="banner">
	<div class="navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a href="/home" class="navbar-brand">Home</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/reiniciar">Reiniciar</a></li>
					<li><a href="@routes.Application.logout()">Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<div class="wrapper" style="height: 100%;">

	<div class="titulo">
		<nome-principal>Planejamento de curso de CC</nome-principal>
	</div>
	<body_2>
	<p align="center">Para alocar a disciplina em um novo período basta arrastá-la para o periodo desejado. Para remover dê um duplo clique sobre a disciplina desejada.</p>
	</body_2>

		<div class="form-actions">
			@if(flash.containsKey("erro")){
				<div class="alert alert-erro container">
					@flash.get("erro")
				</div>
			}
			@if(flash.containsKey("success")){
				<div class="alert alert-success container">
					@flash.get("success")
				</div>
			}
		</div>

		<form id="periodo" method="POST" action="@routes.Application.periodoAtual()">
        
           <label>Período:</label>
	                                
	              <select name="periodo">
		             <option value="0">1</option>
		             <option value="1">2</option>
		             <option value="2">3</option>
		             <option value="3">4</option>
		             <option value="4">5</option>
		             <option value="5">6</option>
		             <option value="6">7</option>
		             <option value="7">8</option>
		             <option value="8">9</option>
		             <option value="9">10</option>
		             <option value="10">11</option>
		             <option value="11">12</option>
		             <option value="12">13</option>
		             <option value="13">14</option>
	             </select>
        	
	       <input type="submit" value="Mudar periodo atual">
	                
           </form>

		
		<div id="colunas">
		@for((periodo, i) <- plano.getPeriodos().zipWithIndex) {
		
			@if(i < 7){
					
				@if(i < plano.getPeriodoAtual()){
					<div id="periodo_@(i + 1)" class="coluna" align='center'>
					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>
		
						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()">
			
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()">
							}
							
							<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
						}
				} 
				
				@if(i >= plano.getPeriodoAtual()){
				
					<div id="periodo_@(i + 1)" class="coluna" align='center'>
					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>
		
						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}
							
								<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
							</div>
						}				
				}
				
					<div class="periodo">
							<nome> Total de créditos</nome>
							<br />
							<descricao>@periodo.getTotalCreditos() créditos <br>
							<nome>Dificuldade Total <br>
							</nome>@periodo.getDificuldadeTotal()</descricao>
					</div>
				
				</div>
			
				@if(i == 6){
					
					<div id="periodo_15" class="colunaDisponiveis" align='right'>
					<nome-periodo>Disciplinas Disponíveis:</nome-periodo>
		
						@for(disciplina <- plano.getDisciplinasDisponiveis()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()">
								<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()">
								<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
							}
						}
					</div>
							
				</div>
				
				<div id="colunas">
				}
			}else{
				
					
				@if(i < plano.getPeriodoAtual()){
					<div id="periodo_@(i + 1)" class="coluna" align='center'>
					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>
		
						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()">
			
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()">
							}
							
							<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
						}
					
				} 
				
				@if(i >= plano.getPeriodoAtual()){
				
					<div id="periodo_@(i + 1)" class="coluna" align='center'>
					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>
		
						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}
							
								<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
							</div>
						}
									
				}
				
					<div class="periodo">
							<nome> Total de créditos</nome>
							<br />
							<descricao>@periodo.getTotalCreditos() créditos <br>
							<nome>Dificuldade Total <br>
							</nome>@periodo.getDificuldadeTotal()</descricao>
					</div>
				</div>
			}
		
		}
	</div>

</div>
}
