@(form: play.data.Form[Application.Login])
@main("Planejamento de Curso"){

<meta charset="utf-8">

<div class="titulo">   

<nome-principal> Planejamento de Curso Online</nome-principal>

</div>
    
<br><br>

<nome-secundario>
<h3 align="center">Faça o login ou cadastre-se</h3><br>	
</nome-secundario> 

	<form class="form-signin" role="form" action="@routes.Application.authenticate()" method="post">
		<div class="textBox">
			<input type="email" class="form-control" name="email" placeholder="e-mail" value="@form("email").value" required>
			<input type="password" class="form-control" name="password" placeholder="senha" required><br>
			<button type="submit" class="btn btn-primary">Entrar</button>
			<button type="button" class="btn" onclick="location.href ='@routes.CadastroAlunos.cadastro()';">Cadastrar</button>

		</div>
	</form>
		<br/><br/>
		<div class="form-actions">
			@if(flash.containsKey("erro")){
				<div class="alert alert-erro container">
					@flash.get("erro")
				</div>
			}
			@if(flash.containsKey("success")){
				<div class="alert alert-success container">
					@flash.get("success")
				</div>
			}
		</div>
</div>
}