@(form: play.data.Form[CadastroAlunos])


@main("Cadastro") {

<meta charset="utf-8">

<div class="titulo">   
<br><br>

<nome-principal> Planejamento de Curso Online</nome-principal>

</div>

<div id="main">

	<br><br>
	<h3>Preencha os campos abaixo para fazer o cadastro</h3>
	<form class="form-signin" role="form" action="@routes.CadastroAlunos.efetuaCadastroAlunos()" method="post">
 		<br><br>
		<div class="textBox">
			<input type="email" class="form-control" name="email" placeholder="e-mail" value="@form("email").value" required>
			<br>
			<input type="nome" class="form-control" name="nome" placeholder="nome de usuário" required>
			<br>
			<input type="password" class="form-control" name="password" placeholder="senha (mínimo 6 digitos)" required>
			<br>
			<input type="password" class="form-control" name="repassword" placeholder="Confirme a senha" required>
			<br>
			<button type="submit" class="btn  btn-primary">Cadastrar</button>
		</div>
	</form>
		<div class="form-actions">
			@if(flash.containsKey("erro")){
				<div class="alert alert-erro container">
					@flash.get("erro")
				</div>
			}
			@if(flash.containsKey("success")){
				<div class="alert alert-success container">
					@flash.get("success")
				</div>
			}
		</div>
</div>

}