@(plano: Planejador, aluno: Aluno) @import helper._

@main("Planejamento de curso") {

<head>
<meta charset="UTF-8">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
  $(function() {
    $( ".disciplina" ).draggable();
    $( ".disciplinaNaoAlocada" ).draggable();
    $( ".colunaPeriodoAtual" ).droppable({
        drop: function( event, ui ) {
      	var disciplina = ui.draggable[0].id;
        	var periodo = event.target.id.replace('periodo_', '');
        	
          location.href = '/alocaDisciplina/' + periodo + '/' + disciplina
        }
      });
    $( ".coluna" ).droppable({
      drop: function( event, ui ) {
    	var disciplina = ui.draggable[0].id;
      	var periodo = event.target.id.replace('periodo_', '');
      	
        location.href = '/alocaDisciplina/' + periodo + '/' + disciplina
      }
    });
  });
  
  function deletaComClick(disciplinaNome){

	  location.href = '/deletaDisciplina/' + disciplinaNome;
  }
  

  function setPeriodoAtual(periodo){

	  location.href = '/mudaPeriodo/' + periodo;
  }
  
  
</script>

</head>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
	role="banner">
	<div class="navbar-inverse">
		<div class="container">
			<nav class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<ul class="nav navbar-nav navbar-center">
					<li><a href="">Planejamento Comum</a></li>
					<li><a href="/alteraGrade/comum">Planejamento Mais Comum</a></li>
 					<li><a href="/alteraGrade/default">Planejamento Atual</a></li>
 					<li><a href="/alteraGrade/nova">Planejamento Nova Grade</a></li>
					<li><a href="/home">Meu plano</a></li>
					<li><a href="/redesocial">Rede Social</a></li>
					<li><a href="/reiniciar">Reiniciar</a></li>
					<li><a href="@routes.Application.logout()">Logout</a></li>
				</ul>
			</nav>
		
		</div>
	</div>
</header>

<div class="wrapper" style="height: 100%;">

	<br/><br/><br/>
	<div class="titulo">
		<nome-principal>Planejador de Curso</nome-principal>
		
	</div>
	
	<nome-secundario> Bem-Vindo(a) @aluno.getNome()!</nome-secundario>
	
	<br><br>
	
	<nome-secundario>Para alocar a disciplina em um novo período basta arrastá-la para o periodo desejado. Para remover dê um duplo clique sobre a disciplina desejada.</nome-secundario>

		<div class="form-actions">
			@if(flash.containsKey("erro")){
				<div class="alert alert-erro container">
					@flash.get("erro")
				</div>
			}
			@if(flash.containsKey("success")){
				<div class="alert alert-success container">
					@flash.get("success")
				</div>
			}
		</div>
		<br><br>

		<body_2> Total de créditos cursados: @plano.getTotalCreditosCursados() | Dificuldade total: @plano.getTotalDificuldadeCursada() </body_2> 

		<br><br>
		<form id="periodo" method="POST" action="@routes.Application.periodoAtual()">
        
        
           <label>Período:</label>
			
	              <select name="periodo">
	              @for(i <- 1 to 14){
	              	
	              	@if(i == plano.getPeriodoAtual() + 1){
	              		<option value="@(i-1)" selected="selected" >@i</option>
	              	}else{
		             <option value="@(i-1)">@i</option>
		            }
		          }	
	             </select>
        
	       <input type="submit" value="Mudar periodo atual">

           </form>
		

		
		<div id="periodo_15" class="colunaDisponiveis" align='left'>
					<nome-periodo>Disciplinas Disponíveis:</nome-periodo>
						<br/>
						@for(disciplina <- plano.getDisciplinasDisponiveis()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina float-left" id="@disciplina.getNome()">
								<nome>@disciplina.getNome()</nome>
								<br/>
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
							}
						}
		</div>

		<div id="colunas">
		@for((periodo, i) <- plano.getPeriodos().zipWithIndex) {

			@if(i < 7){

				@if(i < plano.getPeriodoAtual()){
					<div id="periodo_@(i + 1)" class="colunaNaoRemovivel" align='center'>
					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>

						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplinaImovel" id="@disciplina.getNome()">

							}else{
								<div class="disciplinaNaoAlocadaImovel" id="@disciplina.getNome()" title="As disciplinas: @for(requisito <- plano.getRequisitosEmFaltaDe(disciplina,i)) { @requisito.getNome(),} são pré-requisitos para esta e não estão alocadas corretamente." style="position: relative;box-shadow: 0px 0px 15px #ffffff;">
							
							}

							<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
						}
				} 

				@if(i >= plano.getPeriodoAtual()){

					@if(i == plano.getPeriodoAtual()){
						<div id="periodo_@(i + 1)" class="colunaPeriodoAtual" align='center'>
					}else{
						<div id="periodo_@(i + 1)" class="coluna" align='center'>
					}


					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>
						@if(!plano.minimoRespeitado(i)){
     					<div class="alert">
 						<button type="button" class="close" data-dismiss="alert">×</button>
  						<strong>Créditos Insuficientes!</strong> Você precisa adicionar mais @plano.creditosParaCompletar14(i)
 						creditos a este período</div>
						}
						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);" title="As disciplinas: @for(requisito <- plano.getRequisitosEmFaltaDe(disciplina,i)) { @requisito.getNome(),} são pré-requisitos para esta e não estão alocadas corretamente." style="position: relative;box-shadow: 0px 0px 15px #ffffff;">
							}

								<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
							</div>
						}				
				}

					<div class="periodo">
							<nome> Total de créditos</nome>
							<br />
							<descricao>@periodo.getTotalCreditos() créditos <br>
							<nome>Dificuldade Total <br>
							</nome>@periodo.getDificuldadeTotal()</descricao>
					</div>

				</div>

				@if(i == 6){

					
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				}
			}else{
@if(i < plano.getPeriodoAtual()){
					<div id="periodo_@(i + 1)" class="colunaNaoRemovivel" align='center'>
					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>

						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplinaImovel" id="@disciplina.getNome()">

							}else{
								<div class="disciplinaNaoAlocadaImovel" id="@disciplina.getNome()" title="As disciplinas: @for(requisito <- plano.getRequisitosEmFaltaDe(disciplina,i)) { @requisito.getNome(),} são pré-requisitos para esta e não estão alocadas corretamente." style="position: relative;box-shadow: 0px 0px 15px #ffffff;">
							
							}

							<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
						}
				} 

				@if(i >= plano.getPeriodoAtual()){

					@if(i == plano.getPeriodoAtual()){
						<div id="periodo_@(i + 1)" class="colunaPeriodoAtual" align='center'>
					}else{
						<div id="periodo_@(i + 1)" class="coluna" align='center'>
					}


					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>
						@if(!plano.minimoRespeitado(i)){
     					<div class="alert">
 						<button type="button" class="close" data-dismiss="alert">×</button>
  						<strong>Créditos Insuficientes!</strong> Você precisa adicionar mais @plano.creditosParaCompletar14(i)
 						creditos a este período</div>
						}
						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);" title="As disciplinas: @for(requisito <- plano.getRequisitosEmFaltaDe(disciplina,i)) { @requisito.getNome(),} são pré-requisitos para esta." style="position: relative;box-shadow: 0px 0px 15px #ffffff;">
							}

								<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
							</div>
						}				
				}

					<div class="periodo">
							<nome> Total de créditos</nome>
							<br />
							<descricao>@periodo.getTotalCreditos() créditos <br>
							<nome>Dificuldade Total <br>
							</nome>@periodo.getDificuldadeTotal()</descricao>
					</div>

				</div>

			}

		}
	</div>
	

</div>
}