@(plano: models.Planejador, aluno: models.Aluno)
@import helper._
@main("Início") {

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
	role="banner">
	<div class="navbar-inverse">
		<div class="container">
			<nav class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<ul class="nav navbar-nav navbar-center">
					<li><a href="">Planejamento Comum</a></li>
					<li><a href="">Planejamento Sugerido</a></li>
					<li><a href="">Planejamento Com Nova Grade</a></li>
					<li><a href="/home">Meu plano</a></li>
					<li><a href="/redesocial">Rede Social</a></li>
					<li><a href="/reiniciar">Reiniciar</a></li>
					<li><a href="@routes.Application.logout()">Logout</a></li>
				</ul>
			</nav>
		
		</div>
	</div>
</header>

<div class="wrapper" style="height: 100%;">

	<br/><br/><br/>
	<div class="titulo">
		<nome-principal>Planejador de Curso</nome-principal>
		
	</div>
	
	<nome-secundario> Olá, este é o plano do aluno(a) @aluno.getNome()!</nome-secundario>
		<br><br>

		<body_2> Total de créditos cursados: @plano.getTotalCreditosCursados() | Dificuldade total: @plano.getTotalDificuldadeCursada() </body_2> 
	<br/><br/>
		<div id="periodo_15" class="colunaDisponiveis" align='left'>
					<nome-periodo>Disciplinas Disponíveis:</nome-periodo>
						<br/>
						@for(disciplina <- plano.getDisciplinasDisponiveis()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina float-left" id="@disciplina.getNome()">
								<nome>@disciplina.getNome()</nome>
								<br/>
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
							}
						}
		</div>

		<div id="colunas">
		@for((periodo, i) <- plano.getPeriodos().zipWithIndex) {

			@if(i < 7){

				@if(i < plano.getPeriodoAtual()){
					<div id="periodo_@(i + 1)" class="colunaNaoRemovivel" align='center'>
					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>

						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplinaImovel" id="@disciplina.getNome()">

							}else{
								<div class="disciplinaNaoAlocadaImovel" id="@disciplina.getNome()">
							}

							<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
						}
				} 

				@if(i >= plano.getPeriodoAtual()){

					@if(i == plano.getPeriodoAtual()){
						<div id="periodo_@(i + 1)" class="colunaPeriodoAtual" align='center'>
					}else{
						<div id="periodo_@(i + 1)" class="coluna" align='center'>
					}


					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>
						
						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}

								<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
							</div>
						}				
				}

					<div class="periodo">
							<nome> Total de créditos</nome>
							<br />
							<descricao>@periodo.getTotalCreditos() créditos <br>
							<nome>Dificuldade Total <br>
							</nome>@periodo.getDificuldadeTotal()</descricao>
					</div>

				</div>

				@if(i == 6){

					
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				}
			}else{
				@if(i < plano.getPeriodoAtual()){
					<div id="periodo_@(i + 1)" class="colunaNaoRemovivel" align='center'>
					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>

						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplinaImovel" id="@disciplina.getNome()">

							}else{
								<div class="disciplinaNaoAlocadaImovel" id="@disciplina.getNome()">
							}

							<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
								</div>
						}
				} 

				@if(i >= plano.getPeriodoAtual()){

					@if(i == plano.getPeriodoAtual()){
						<div id="periodo_@(i + 1)" class="colunaPeriodoAtual" align='center'>
					}else{
						<div id="periodo_@(i + 1)" class="coluna" align='center'>
					}


					<nome-periodo>Período @(1 + plano.getPeriodos().indexOf(periodo))</nome-periodo>
						
						@for(disciplina <- periodo.getDisciplinas()){
							@if(disciplina.isAlocadaCorretamente()){
								<div class="disciplina" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}else{
								<div class="disciplinaNaoAlocada" id="@disciplina.getNome()" ondblclick="deletaComClick(this.id);">
							}

								<nome>@disciplina.getNome()</nome>
								<br />
								<descricao>@disciplina.getCreditos() créditos <br>
								Dificuldade: @disciplina.getDificuldade()</descricao>
							</div>
						}				
				}

					<div class="periodo">
							<nome> Total de créditos</nome>
							<br />
							<descricao>@periodo.getTotalCreditos() créditos <br>
							<nome>Dificuldade Total <br>
							</nome>@periodo.getDificuldadeTotal()</descricao>
					</div>

				</div>

			}

		}
	</div>
	

</div>
}