@(alunos: List[models.Aluno]) @import helper._
@main("Rede Social") {

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
	role="banner">
	<div class="navbar-inverse">
		<div class="container">
			<nav class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/home">Meu plano</a></li>
					<li><a href="/redesocial">Rede Social</a></li>
					<li><a href="@routes.Application.logout()">Logout</a></li>
				</ul>
			</nav>
		
		</div>
	</div>
</header>

<br></br>

  <form class="navbar-form pull-left" action="/busca/" method="GET">
    <div class="input-append">
     
	  <nome-secundario>Buscar aluno pelo nome: </nome-secundario>
      <input type="text" class="input-large" name="query">
     <button type="submit" class="btn">Buscar</button>
     </div>
    </form>
<br></br>
<br></br>

<div align="center">
<nome-principal>Alunos cadastrados</nome-principal>
</div>
<div class="wrapper" style="height: 100%;">
        
        @for(aluno <- alunos) {
            <div  class="user"> 
            <p>@aluno.getNome()</p><br>
            <a href="/user/@aluno.getEmail()">Ver plano</a>
            </div>
        }
    
}